h1{
  color: blue;
  text-align: center;
  line-height: 50px;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-style: italic;
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
body{
  background-color: cyan;
  font-size: 15px;
}
ol{
  color: grey;
  font-family: monospace;
}
